# .gitignore
# node / tools
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# build artifacts
dist/
build/

# uploads (للإنتاج بيكون على سيرفر/سحابة)
uploads/
src/uploads/

# env & system
.env
.env.*
.DS_Store
.vscode/
.idea/
